body{
  background: rgb(78,69,252);
  background: linear-gradient(90deg, rgba(78,69,252,1) 0%, rgba(253,29,240,1) 50%, rgba(88,252,69,1) 82%);
  max-width: 100%;
  overflow-x: hidden;
}
/*place holder voor de navbar css












*/





  
  #image {
    width: 10em;
    height: 10em;
    border-radius: 2em;
    border-color: black;
    
  }
  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  }
  
  .grid-item {
    padding-top: 75px;
    font-size: 30px;
    text-align: center;
  }
 #button1, #button3, #button2, #button3{
  border-radius: 5em;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
 }
 #button1:hover{
 
  color: blue;
    
 }

 #button2:hover{
 
  color:  rgba(253,29,240,1);
    
 }

 #button3:hover{
  color: rgba(88,252,69,1);
 }

 
 footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    
   background: grey;
   border-top: black solid 2px;
   text-align: center;

 }