body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, rgba(70, 70, 255, 1), rgb(90, 45, 163));
  }
  
  #quiz img {
    width: 75px;
    float: left;
    margin-right: -80px;
    margin-left: 10px;
  }

  .wrapper {
    width: 430px;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
    
  }

  #quiz {
    background-image: url("osu.png");
    background-size: 75px;
    background-repeat: no-repeat;
    background-color:  rgb(28, 89, 202);
    

    padding-bottom: 60px;
    width: 100%;
    border-radius: 2%;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
   
  #quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }
   
  .questions {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
  }
   
  .answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
  }
   
  .answers div:hover {
    cursor: pointer;
    color: #fb43df;
  }
   
  .answers {
    padding: 0px 0 10px 0px;
  }
   
  .answers div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-top: 1px solid grey;
  }
   
  .answers div:first-child {
    border: none;
  }
   
  .checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
  }
   
  .correct, .false {
    background-color: #109D59;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
  }
   
  .false {
    background-color: #DC4437;
  }

  button {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px;
    background: none;
}

button:hover{
    font-size: 30px;
    transition: .1s;

  }

  #header {
    font-family: 'Permanent Marker';font-size: 22px;
    position: fixed;
    left: 50%;
    top: 3%;
    transform: translate(-50%, -3%);
    background: rgb(33,31,32);
    background: linear-gradient(170deg, rgba(33,31,32,1) 0%, rgba(70,60,24,0.303046218487395) 99%);
    color: white;
    text-align: center;
    margin-left: 0.3;
    margin-right: 0.8;
    margin-top: 10;
    border-radius: 30px;
    z-index: 60;
    width: 96%;
    height: 15%;
    }
    
    #header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    #header nav li {
    display: inline-block;
    position: relative;
    color: cyan;
    text-align: center;
    }
    
    #header nav a {
    display: block;
    padding: 3px 15px;
    text-decoration: none;
    }
    
    #header nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    }
    
    #header nav li:hover > ul {
    display: block;
    }
    
    #header h1 {
    line-height: 6vh;
    float: left;
    position: relative;
    left: 12%;
    }
    
    .link-navbar {
    position: relative;
    bottom: 160%;
    }
    
    ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        padding: 20px;
    
        z-index: 99;
      }
      li {
          list-style: none;
          margin-right: 20px;
          font-size: 25px;
          font-weight: bold;
          z-index: 99;
      }
          a {
            text-decoration: none;
            color: white
            ;
          }
  
  .cover img {
  width: 15vh;
  text-align: left;
  left: 0%;
  position: absolute;
  border-color: white;
  border-style: solid;
  border-radius: 6em;
  }
  